@mixin container($gutter: $grid-gutter-width) {
  margin-left: auto;
  margin-right: auto;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);
}

@mixin content($columns: $grid-columns, $gutter: $grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-right: ($gutter / 2);
  padding-left:  ($gutter / 2);
  width: 100%;
}

@mixin row($gutter: $grid-gutter-width) {
  display: flex;
  flex-wrap: wrap;
  margin-right: ($gutter / -2);
  margin-left: ($gutter / -2);
}

@mixin col($size, $columns: $grid-columns, $gutter: $grid-gutter-width) {
  flex: 0 0 percentage($size / $columns);
  max-width: percentage($size / $columns);
}

@mixin col-offset($size, $columns: $grid-columns) {
  margin-left: percentage($size / $columns);
}

@mixin col-push($size, $columns: $grid-columns) {
  left: if($size > 0, percentage($size / $columns), auto);
}

@mixin col-pull($size, $columns: $grid-columns) {
  right: if($size > 0, percentage($size / $columns), auto);
}

@mixin media($breakpoint) {
  @media (map-get($breakpoints, $breakpoint)) {
    @content;
  }
}
