$browser-context: 16 !default;

$screen: "only screen" !default;

$landscape: "#{$screen} and (orientation: landscape)" !default;
$portrait: "#{$screen} and (orientation: portrait)" !default;

$breakpoint-extra-small:  320 !default;
$breakpoint-small:        768 !default;
$breakpoint-medium:       992 !default;
$breakpoint-large:        1280 !default;
$breakpoint-extra-large:  1440 !default;

$breakpoints: (
        xs:   $breakpoint-extra-small,
        sm:   $breakpoint-small,
        md:   $breakpoint-medium,
        lg:   $breakpoint-large,
        xlg:  $breakpoint-extra-large,
) !default;

$range-xsmall:  (0, em($breakpoint-small)) !default;
$range-small:   (em($breakpoint-extra-small)  + em(1), em($breakpoint-small)) !default;
$range-medium:  (em($breakpoint-small)        + em(1), em($breakpoint-medium)) !default;
$range-large:   (em($breakpoint-medium)       + em(1), em($breakpoint-large))  !default;
$range-xlarge:  (em($breakpoint-large)        + em(1), em($breakpoint-extra-large)) !default;
$range-xxlarge: (em($breakpoint-extra-large)  + em(1), em(99999999)) !default;

$xsmall-up: $screen !default;
$xsmall-only: "#{$screen} and (max-width: #{upper-bound($range-xsmall)})" !default;

$small-up: "#{$screen} and (min-width:#{lower-bound($range-small)})" !default;
$small-only: "#{$screen} and (min-width:#{lower-bound($range-small)}) and (max-width:#{upper-bound($range-small)})" !default;

$medium-up: "#{$screen} and (min-width:#{lower-bound($range-medium)})" !default;
$medium-only: "#{$screen} and (min-width:#{lower-bound($range-medium)}) and (max-width:#{upper-bound($range-medium)})" !default;

$large-up: "#{$screen} and (min-width:#{lower-bound($range-large)})" !default;
$large-only: "#{$screen} and (min-width:#{lower-bound($range-large)}) and (max-width:#{upper-bound($range-large)})" !default;

$xlarge-up: "#{$screen} and (min-width:#{lower-bound($range-xlarge)})" !default;
$xlarge-only: "#{$screen} and (min-width:#{lower-bound($range-xlarge)}) and (max-width:#{upper-bound($range-xlarge)})" !default;

$xxlarge-up: "#{$screen} and (min-width:#{lower-bound($range-xxlarge)})" !default;
$xxlarge-only: "#{$screen} and (min-width:#{lower-bound($range-xxlarge)}) and (max-width:#{upper-bound($range-xxlarge)})" !default;

$ranges: (
        xs:   $small-up,
        sm:   $medium-up,
        md:   $large-up,
        lg:   $xlarge-up,
        xlg:  $xxlarge-up,
) !default;

$ranges-only: (
        xs:   $small-only,
        sm:   $medium-only,
        md:   $large-only,
        lg:   $xlarge-only,
        xlg:  $xxlarge-only,
) !default;

$grid-columns: 12 !default;
$grid-gutter-width: 30 !default;

$container: container !default;
$row: row !default;
$column: col !default;

$wall-enabled: true !default;
$wall: wall !default;
$wall-width: 1 !default;
$wall-style: solid !default;
$wall-color: #000 !default;
